body {
  background-image: url("paper.jpg");
  color: black;
}
.block {
  display: block;
}
.results {
  display: flex;
  justify-content: space-around;
}
.hidden {
  display: none;
}
.h-align-center {
  display: flex;
  justify-content: center;
  height: 270px;
  width: 100%;
}
.v-align-center {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
#search {
  width: 600px;
  height: 60px;
  font-size: 40px;
  border: none;
  border-bottom: 1px solid grey;
  background: transparent;
  outline: none;
  padding-top: 140px;
  text-align: center;
}
