<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bad Press</title>
  </head>
  <body>
    <div id="main"></div>
    <script src="static/main.js"></script>
    <script>
      var node = document.getElementById('main');
      var app = Elm.Main.embed(node);
    </script>
    <!-- <form action="/analyze" method="POST">
      <input type="text" name="term" placeholder="Enter term..."/>
      <input type="submit" value="Analyze">
    </form> -->
    <div>
      {% if tweets %}
        <p>Average Positivity: {{ tweets[0] }}</p>
        <p>Average Subjectivity: {{ tweets[1] }}</p>
      {% endif %}
    </div>
  </body>
</html>
